{% extends "header.html" %}
{% block page_content %}
	<link href="{{ url_for('static', filename='css/details.css') }}" rel="stylesheet">
	<div class="">
		<div class="col-md-6 col-md-offset-4 head">Customers List</div>
		<div class="col-md-7 col-md-offset-2">
			<table class="table-bordered" style="border:1 solid black;background:white;">
			<thead>
				<td>SL No.</td>
				<td>Customer Id</td>
				<td>First Name</td>
				<td>Phone No.</td>
				<td>Gender</td>
				<td>Age</td>
				<td>Address</td>
			</thead>
			<tbody>
				{% for each in data: %}
				<tr>
				<td>{{ data.index(each) + 1}}</td>
				<td>{{ each.user_id }}</td>
				<td>{{ each.first_name }}</td>
				<td>{{ each.mobile }}</td>
				<td>{{ each.gender }}</td>
				<td>{{ each.age }}</td>
				<td>{{ each.address }}</td>
				</tr>
				{% endfor %}
			<tbody>
			</table>
		</div>
	</div>
{% endblock %}